<div class="container">
    <div class="row">
        <div class="left-column">
            <div class="title">
                <div class="title-text">StoryGrid AI</div>
            </div>
            <div class="subtitle1">
                <app-thin-heading>Your own personal</app-thin-heading>
            </div>
            <div class="subtitle2">
                <app-thin-heading>branding story</app-thin-heading>
            </div>
            <div class="slogan">
                <app-grey-subtitle>Personal. Professional. Business</app-grey-subtitle>
            </div>
            <div class="get-started">
                <app-big-button-black>Get Started</app-big-button-black>
            </div>
            <div class="learn-more">
                <app-big-button>Learn More</app-big-button>
            </div>
        </div>
        <div class="right-column">
            <div class="picture">
                <img class="hero-shot-picture" src="../../../assets/hero-shot.png" alt="a hero shot">
            </div>
        </div>
        <div class="black-block">
            <p></p>
        </div>
    </div>
</div>