.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
}

.row {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 82px);
    column-gap: 20px;
    grid-template-rows: 53px;
    row-gap: 0px;
    margin-top: 183px;
}

.top-heading {
    grid-column: 1/12;
    grid-row: 1/2;
}